.form-new-cluster .form-group-pull-secret {
  height: calc(100vh - 650px);
  min-height: 200px;
}

.form-new-cluster .form-group-pull-secret .pf-c-form__group-control {
  height: 100%;
}

.form-new-cluster .form-group-pull-secret .pf-c-form__group-control textarea {
  height: 100%;
}
