lib/assisted-installer-service/**/*.js
lib/assisted-installer-service/**/*.map
lib/assisted-installer-service/**/*.d.ts
lib/assisted-installer-service/docs/
lib/accounts-management-service/**/*.js
lib/accounts-management-service/**/*.map
lib/accounts-management-service/**/*.d.ts
lib/accounts-management-service/docs/
lib/authorization-service/**/*.js
lib/authorization-service/**/*.map
lib/authorization-service/**/*.d.ts
lib/authorization-service/docs/
node_modules
