/* pf-u-float-right does not work in all flows */
.assisted-ui-float-right {
  float: right !important;
}

.assisted-ui-display-inline {
  display: inline;
}

.margin-left-md {
  margin-left: var(--pf-global--spacer--md);
}
