name: Test and build

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - edited
    branches:
      - master
      - releases/*
      - CIM-*

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=8192
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: '12'

      - name: Install dependencies
        # --frozen-lockfile: doesn't generate a yarn.lock file, fails if an update is needed.
        run: yarn install --frozen-lockfile

      - name: Validate that i18n locale files are updated and contains 'ai' prefix in keys
        run: |
          chmod +x ./scripts/validatei18n_files.sh
          ./scripts/validatei18n_files.sh
        shell: bash

      - name: Check for circular dependencies
        run: yarn test:circular

      - name: Lint
        run: yarn  lint

      - name: Format
        run: yarn format:check

      - name: Build
        run: yarn build
