name: Pull request

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - master
      - releases/*

env:
  NODE_OPTIONS: '--max-old-space-size=8192'

jobs:
  preflight-check:
    # Prevents running the workflow when a PR is marked as draft.
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check.outputs.skip }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check if PR is draft
        id: check
        run: |
          if [[ "${{ github.event.pull_request.draft }}" == "true" ]]; then
            skip=true
          else
            skip=false
          fi
          echo "skip=${skip}" >> $GITHUB_OUTPUT
          echo "skip=${skip}"
  lint:
    needs: preflight-check
    if: needs.preflight-check.outputs.skip == 'false'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ vars.NODEJS_VERSION }}
          cache: yarn
      - run: yarn install --immutable
      - run: yarn build:all
      - run: yarn lint:all
  format:
    needs: preflight-check
    if: needs.preflight-check.outputs.skip == 'false'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ vars.NODEJS_VERSION }}
          cache: yarn
      - run: yarn install --immutable
      - run: yarn build:all
      - run: yarn format:all
  circular-deps:
    needs: preflight-check
    if: needs.preflight-check.outputs.skip == 'false'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ vars.NODEJS_VERSION }}
          cache: yarn
      - run: yarn install --immutable
      - run: yarn build:all
      - run: yarn check_circular_deps:all
  translation-files:
    needs: preflight-check
    if: needs.preflight-check.outputs.skip == 'false'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ vars.NODEJS_VERSION }}
          cache: yarn
      - run: yarn install --immutable
      - run: yarn build:all
      - run: yarn workspace @openshift-assisted/locales run validate_translation_files
  tests:
    needs: preflight-check
    if: needs.preflight-check.outputs.skip == 'false'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ vars.NODEJS_VERSION }}
          cache: yarn
      - run: yarn install --immutable
      - run: yarn build:all
      - name: Run integration tests
        uses: cypress-io/github-action@v5
        with:
          working-directory: ./libs/integration-tests-ocm
          browser: chrome
          config-file: cypress.config.js
          env: CYPRESS_API_BASE_URL=http://localhost:3000
          start: yarn --cwd=../../ preview:assisted-ui
