name: Cypress Tests

on:
  push:
    branches:
      - integration-tests-wip

jobs:
  check-runs-tests:
    runs-on: ubuntu-latest
    steps:
      - id: check_integration_tests_label
        uses: docker://agilepathway/pull-request-label-checker:latest
        with:
          one_of: ocm-integration-tests
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          allow_failure: true
      - id: pass_condition
        run: |
          echo "RUN_INTEGRATION_TESTS=Y" >> $GITHUB_ENV
        if: steps.check_integration_tests_label.outputs.label_check == 'success'

  cypress-run:
    if: ${{ env.RUN_INTEGRATION_TESTS == 'Y' }}
    runs-on: ubuntu-latest
    env:
      RUN_INTEGRATION_TESTS: N
    steps:
      - name: Checkout Assisted-UI
        uses: actions/checkout@v3
        with:
          repository: celdrake/assisted-ui
          ref: integration-tests-wip
          path: ./assisted-ui

      - name: Checkout Assisted-UI lib
        uses: actions/checkout@v3
        with:
          repository: celdrake/assisted-ui-lib
          ref: ${{ github.ref_name }}
          path: ./assisted-ui-lib

      - name: Generate Assisted-UI with updated Assisted UI lib
        working-directory: ./assisted-ui-lib
        run: |
          yarn install --frozen-lockfile
          node scripts/esbuild/prod.js
          yarn pack -f openshift-assisted-ui-lib-updated.tgz

      - name: Build Assisted-UI for local server
        working-directory: ./assisted-ui
        run: |
          yarn install --frozen-lockfile
          yarn add file:../assisted-ui-lib/openshift-assisted-ui-lib-updated.tgz
          yarn build

      - name: Checkout Openshift Assisted UI tests
        uses: actions/checkout@v3
        with:
          repository: celdrake/openshift-assisted-ui
          ref: integration-tests-wip
          path: ./openshift-assisted-ui

      # Run Cypress tests in Headless mode
      - name: Cypress run
        uses: cypress-io/github-action@v4.1.0
        with:
          working-directory: ./openshift-assisted-ui/packages/integration-tests
          browser: chrome
          config-file: cypress.json
          config: video=false
          env: CYPRESS_API_BASE_URL=https://localhost:3000
          build: yarn install
          # Serve is a package included by the "integration-tests" package
          start: yarn serve -p 3000 -s /home/runner/work/assisted-ui-lib/assisted-ui-lib/assisted-ui/build
          spec: ./src/integration/create-multinode/1-host-discovery.spec.ts
